/* .button1 {
  display: flex;
  border-radius: 35px;
  width: 50%;
  height: 40px;
  font-size: 18px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: var(--textcolor);
  background-color: var(--protocolor);
}
.BiArrowBack {
  background-color: transparent;
} */
