.menu {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  /* backdrop-filter: blur(10px); */
  background-color: rgb(19, 20, 25);
  border-radius: 10px;
  right: 0;
  left: 0;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.icon {
  font-size: 35px;
  color: darkorange;
  background-color: transparent;
}
.icon:hover {
  color: var(--textcolor);
}
.Link {
  background-color: transparent;
}
.active {
  font-size: 45px;
  padding: 5px;
  border-radius: 15px;
  background-color: transparent;
  color: darkorange;
  border: 2px solid darkorange;
}
@media screen and (min-width: 460px) {
  .menu {
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    top: 10px;
  }
  .icons {
    border-radius: 10px;
    margin: 0 auto;
    width: 300px;
    padding: 5px;
    background-color: rgb(19, 20, 25);
  }
}
