* {
  /* hgvh */
  margin: 0;
  padding: 0;
}
.all {
  height: 1000px;
}

.head {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.icons {
  display: flex;
  justify-content: space-between;
  /* background-color: darkred; */
}
.icon2 {
  margin-right: 20px;
}
.box {
  height: 130px;
  width: 130px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 100px;
  border: 4px solid rgb(0, 0, 33);
}
.hr {
  width: 100%;
  height: 2px;
  background-color: rgb(40, 42, 51);
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.h2 {
  margin-bottom: 10px;
  font-size: 30px;
}
.h5 {
  font-size: 14px;
  color: rgb(154, 151, 151);
  margin-bottom: 20px;
}
.person {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin: 10px;
}
.hr1 {
  width: 2px;
  height: 100%;
  background-color: rgb(40, 42, 51);
}
.f {
  text-align: center;
  color: var(--textcolor);
}
.button {
  width: 100%;
  display: flex;
  margin-bottom: 18px;
  /* background-color: aliceblue; */
}
.button1,
.button2 {
  display: flex;
  border-radius: 35px;
  width: 50%;
  height: 40px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button2 {
  background-color: transparent;
  color: var(--protocolor);
  border: 2px solid var(--protocolor);
}
.button1 {
  color: var(--textcolor);
  border: none;
  background-color: var(--protocolor);
}
.icon3,
.icon4 {
  background-color: transparent;
  margin-right: 10px;
  font-size: 20px;
}
.h3 {
  display: flex;
  align-items: center;
  margin: 0;
}
.boxs {
  display: flex;
  width: 100%;
}
.statusbox {
  height: 80px;
  width: 50%;
  border: 2px solid rgb(40, 42, 51);
  border-radius: 20px;
  background-color: rgb(23, 25, 32);
  margin-bottom: 10px;
}

/* ----- */

.column {
  /* float: left;
  width: 50%;
  padding-top: 10px; */
  width: 100%;
  padding: 5px;
  display: block;
}

.row {
  padding-top: 10px;
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* text-align: center; */
  background-color: #5a5757;
  border-radius: 10px;
  height: 100px;
  background-size: cover;

  background-color: darkorange;
}
.cardItem {
  border-radius: 10px 0px 0px 10px;
  background-color: transparent;
  width: 60%;
  padding: 10px;
  font-size: 30px;
}
.cardItem1 {
  border-radius: 10px;
  text-align: center;
  background-color: darkred;
  width: 40%;
  font-size: 50px;
  padding: 10px;
}

.cardItemi {
  padding: 0;
  margin: 0;
  color: white;
}
