.body {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: rgb(32, 29, 41);
  padding: 10px;
  border: 1px solid rgb(162, 160, 160);
  min-height: 235px;
}
.item button {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: rgb(117, 223, 3);
  color: white;
  font-size: 18px;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.item input {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border: none;
}
.word {
  display: inline;
  height: auto;
}
.word button {
  padding: 5px;
  margin: 5px;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: transparent;
  color: white;
}

.mes {
  animation: mes 1s ease both;
}
@keyframes mes {
  0% {
    padding: 0;
    opacity: 0;
    /* font-size: 0px; */
  }
  100% {
    /* position: relative; */
    padding: 5px;
    opacity: 1;
  }
}
