:root {
  --protocolor: rgb(94, 19, 255);
  --textcolor: white;
}

.all {
  text-align: center;
  margin: 0;
  height: 640px;
}
.Logo {
  margin: 0;
  padding: 0;
  width: 300px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.text {
  text-align: center;
  width: 330px;
}

.h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--protocolor);
}
.pa {
  text-align: center;
  font-size: calc(10px + 2vmin);
  font-style: normal;
}
.button1,
.button2 {
  display: inline-block;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  border: none;
  font-size: 16px;
  width: 330px;
  height: 50px;
}
hr {
  margin-top: 50px;

  width: 100%;
  opacity: 0.3;
  padding: 0;
  color: var(--textcolor);
}
.button1 {
  background-color: var(--protocolor);
}
.button2 {
  background-color: rgb(40, 42, 49);
}
