.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgb(21, 75, 117);
  margin-bottom: 10px;
  border-radius: 5px;
  color: rgba(219, 219, 219, 0.843);
}
.time {
  font-size: 10px;
}
.content {
  background-color: rgb(13, 24, 57);
  text-align: justify;
  padding: 10px;
}
.head2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  align-items: center;
  height: 50px;
}
.head22 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
  font-size: 16px;
  height: 30px;
}
.head3 {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  padding: 10px;
}
.box {
  border-radius: 200px;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.headIteam {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
