.body {
  margin-bottom: 100px;
}
.head {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 20px;
}
.users {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.hr {
  width: 100%;
  height: 2px;
  background-color: rgb(40, 42, 51);
  margin-top: 10px;
  margin-bottom: 10px;
}
.section {
  display: block;
  border-radius: 15px;
  background-color: rgb(23, 25, 32);
  border: 2px solid rgb(40, 42, 51);
  padding: 10px;
  margin-bottom: 20px;
  height: 330px;
  overflow: scroll;
}

.active1 {
  background-color: rgba(139, 0, 139, 0.619);
}
.active2 {
  background-color: rgba(139, 0, 0, 0.619);
}
.active3 {
  background-color: rgba(189, 183, 107, 0.619);
}
.active {
  background-color: transparent;
}
.cardShadow {
  display: flex;
  background-color: white;
  color: rgb(100, 97, 97);
}
/* .container {
  padding: 10px;
} */
.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--protocolor);
  margin-bottom: 10px;
  border-radius: 10px;
}
.time {
  font-size: 10px;
}
.content {
  background-color: rgb(29, 38, 78);
  text-align: justify;
  padding: 10px;
  /* margin: 10px; */
}
.head2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  align-items: center;
}
.head3 {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  padding: 10px;
}
.hovers {
  background-color: rgb(80, 80, 81);
  width: 5%;
  position: fixed;
  padding: 5px;
  border-radius: 5px;
  font-size: 11px;
}
.nav__menu {
  margin: 10px;
  background-color: rgb(56, 51, 44);
  padding: 20px;
}
.box {
  border: 3px solid rgb(10, 159, 218);
  border-radius: 200px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.headIteam {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
