* {
  /* jjj */
  margin: 0;
  padding: 0;
}
.sec {
  color: rgb(0, 0, 0);
  background-color: rgb(136, 136, 136);
  padding: 10px;
  border-radius: 5px;
}
.cards {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 10px 0;
  border-radius: 5px;
  color: black;
}
.cevap {
  padding: 5px 50px 5px 5px;
  margin: 10px 0;
  text-align: start;
  width: 100%;
  background-color: rgba(81, 108, 148, 0.544);
  border-radius: 3px;
  border: none;
  font-size: 12px;
}
.cevapActive {
  padding: 5px;
  margin: 10px 0;
  text-align: start;
  width: 100%;
  background-color: rgb(125, 191, 39);
  border-radius: 3px;
  border: none;
}
.cevap:hover {
  border: 1px solid darkblue;
}
.submit {
  font-size: 16px;
  padding: 5px;
  background-color: darkblue;
  color: white;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  width: 100%;
}
.subClose {
  font-size: 16px;
  padding: 5px;
  background-color: darkred;
  color: white;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  width: 100%;
}
p {
  font-size: 14px;
}
.btnCard {
  display: flex;
  justify-content: space-between;
}
.submitbtn {
  color: white;
  padding: 16px 20px;
  margin: 23px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}
@media screen and (min-width: 460px) {
}
