* {
  /* jjj */
  margin: 0;
  padding: 0;
}
.sec {
  color: rgb(0, 0, 0);
  /* background-color: transparent; */
  background-color: rgb(4, 10, 20);
  padding: 10px;
  border-radius: 5px;
}
.cards {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(32, 29, 41);
  margin: 10px 0;
  border-radius: 5px;
  color: rgb(229, 229, 229);
}
.cevap {
  color: #4a9cee;
  padding: 5px 50px 5px 5px;
  margin: 10px 0;
  text-align: start;
  width: 100%;
  background-color: rgb(19, 20, 25);
  border-radius: 3px;
  border: none;
  font-size: 12px;
}
.cevapActive {
  padding: 5px;
  margin: 10px 0;
  text-align: start;
  width: 100%;
  background-color: rgb(19, 20, 25);
  border-radius: 3px;
  border: none;
  color: #1976d2;
  border: 1px solid #1976d2;
}
.cevap:hover {
  border: 1px solid #1976d2;
}
.submit {
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #1976d2;
  color: #1976d2;
  margin: 10px 0;
  border-radius: 5px;
  width: 100%;
}
.subClose {
  font-size: 16px;
  padding: 5px;
  background-color: rgb(4, 10, 20);
  color: #1976d2;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #1976d2;
  width: 100%;
}
p {
  font-size: 14px;
}
.btnCard {
  display: flex;
  justify-content: space-between;
}
.submitbtn {
  color: white;
  padding: 16px 20px;
  margin: 23px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}
.sec:hover {
  background-color: rgb(4, 10, 20);
}
@media screen and (min-width: 460px) {
}
