.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--textcolor);
}
.head1 {
  color: var(--textcolor);
}
.inputSearch {
  margin: 0;
  background: transparent;
  text-align: start;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid var(--protocolor);
  width: 60%;
  font-size: 18px;
  color: rgb(255, 255, 255);
  outline: none;
}
.section {
  display: block;
  border-radius: 15px;
  background-color: rgb(23, 25, 32);
  border: 2px solid rgb(40, 42, 51);
  padding: 10px;
  margin-bottom: 60px;
}
.cards {
  display: grid;
  gap: 20px 20px;
  grid-template-columns: auto auto;
  height: 430px;
  overflow: scroll;
}
.letters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(49, 49, 162);
  border-radius: 5px;
  padding: 10px;
}
.bigLetter {
  color: var(--textcolor);
  border: none;
  background: none;
  font-size: 30px;
}
.litLetter {
  color: var(--textcolor);
  border: none;
  background: none;
  font-size: 30px;
}
.unlu {
  background: transparent;
  border: none;
  color: var(--textcolor);
  font-size: 20px;
}
