h1,
h2,
h4,
h5,
h6 {
  background-color: transparent;
}
.icon1 {
  font-size: 24px;
  color: var(--protocolor);
}
div,
h5 {
  background-color: transparent;
}
.head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
  margin-bottom: 25px;
  /* background-color: aliceblue; */
}
.head1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 23px;
  margin-bottom: 20px;
  margin-top: 10px;
  /* background-color: aliceblue; */
}
.button {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  /* background-color: aliceblue; */
}
.button1,
.button2 {
  display: flex;

  border-radius: 35px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.button1 {
  background-color: transparent;
  color: var(--protocolor);
  border: 2px solid var(--protocolor);
}
.button2 {
  color: var(--textcolor);
  border: none;
  background-color: var(--protocolor);
}

.section {
  padding: 15px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: rgb(23, 25, 32);
  border: 2px solid rgb(40, 42, 51);
}

.lesson {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  color: var(--textcolor);
  align-items: center;

  justify-content: space-between;
}
.lessonname {
  text-align: start;
  display: block;
}
.box1,
.box2,
.box3 {
  height: 80px;
  margin: 8px;
  width: 80px;
  border-radius: 50px;
}
.box1 {
  border: 4px solid darkslategrey;
  background-color: darkorange;
}
.box2 {
  border: 4px solid darkslategrey;
  background-color: darkorchid;
}
.box3 {
  border: 4px solid darkslategrey;
  background-color: darkturquoise;
}
.d1 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.p {
  color: white;
}
.row {
  margin: 0 -5px;
  padding-bottom: 50px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: none;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 20px;
}
.card {
  background-color: rgb(23, 25, 32);
  border: 1px solid rgb(40, 42, 51);
  border-radius: 20px;
}
.cardButton {
  border: none;
  border-radius: 20px;
  padding: 0px 15px;
  background: var(--protocolor);
  color: var(--textcolor);
  margin-right: 100%;
  margin-bottom: 10px;
  min-width: 70px;
}
.cardTop1,
.cardTop2,
.cardTop3 {
  display: flex;
  border-radius: 20px 20px 0px 0px;
  padding: 15px;
  justify-content: space-between;
}
.cardBottom {
  padding: 15px;
}
.cardItem1 {
  display: flex;
  justify-content: space-between;
  color: white;
}
.container {
  width: 100%;
  height: 10px;
  background-color: rgb(40, 42, 51);
  border-radius: 20px;
  margin-bottom: 10px;
}
.bonus {
  border-radius: 20px;
  height: 10px;
  background: blue;
}
hr {
  width: 100%;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.h3 {
  margin-bottom: 10px;
}
.p {
  text-align: justify;
  max-width: 150px;
}
.cardItemH3 {
  color: var(--protocolor);
}
.bg {
  background-color: transparent;
  border-radius: 20px;
  color: rgb(214, 214, 214);
  width: 140px;
  margin-left: 10px;
}
.imgs{
  display: flex;
  overflow-y: hidden;
  overflow-x:scroll;
  height:200px;
  width:100%;
  -webkit-scrollbar: none;
}
.imgItem {
  margin-right:7px;
  border-radius: 10px;
  background-size: cover;
}
.imgItem:active{
  position: fixed;
  cursor: zoom-in;
  width: 100%;
  height: auto;
}
.unite {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px;
  border-radius: 10px;

}
.unite div h1 {
  margin: 0;
}
.uniteIcon{
 font-size: 30px;
}
.uniteBox{
  width: 70px;
  height: 60px;
  border-radius:20px;
  background: rgb(0, 95, 95);
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin-top: 30px;
}
.uniteBox span {
  width: 70px;
  height: 60px;
  display: flex;
  border-radius: 20px;
  font-size: 1.25rem;
  background: darkcyan;
  color: white;
  transform: translateY(-6px);
  align-items: center;
  justify-content: center;

}
.notif{ 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: center; */
  justify-content: space-between;
  align-items: center;
}

.uniteBox:active span {
  transform: translateY(0px);
}

@media screen and (min-width: 460px) {
  .column {
    width: 350px;
    float: left;
  }
  .row {
    display: inline;
  }

  .section {
    margin: 10px;
  }
}
.head input {
  background: transparent;
  text-align: start;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid var(--protocolor);
  width:40%;
  font-size: 18px;
  color: rgb(255, 255, 255);
  outline: none;
}