.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 23px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: var(--textcolor);
}
.head1 {
  color: var(--textcolor);
}
.userbox {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  border: 2px solid rgb(40, 42, 51);
  border-radius: 20px;
  background-color: rgb(23, 25, 32);
  margin-bottom: 10px;
  padding: 12px;
}
