.MuiStepLabel-labelContainer {
  color: white;
}
.css-1xguesj-MuiAutocomplete-root .MuiAutocomplete-tag {
  border-radius: 10px;
  margin: 2px;
}

.css-1xguesj-MuiAutocomplete-root {
  border-radius: 10px;
}
