@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  -webkit-scrollbar: none;
  outline: none;
}
.body {
  display: flex;
  font-family: "Nunito", sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: left;
  background-color: rgb(4, 10, 20);
  inset: 0;
  scroll-margin-block: none;
}
.App {
  background-color: rgb(19, 20, 25);
  width: 100%;
  color: var(--textcolor);
  padding: 12px;
}
.appBox {
  display: none;
  background-size: cover;
  color: rgb(38, 39, 49);
}
.head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 23px;
  margin-bottom: 25px;
  /* background-color: aliceblue; */
}
.icon1 {
  font-size: 30px;
  color: var(--textcolor);
}
.device{
  display:none;
}
@media screen and (min-width: 460px) {
  .firstScreen{
    display:flex;
    flex-direction: row-reverse;
  }
  .device{
  display:flex;
  }
}