@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  -webkit-scrollbar: none;
}
.body {
  display: flex;
  background-color: rgb(4, 10, 20);
}
.firstScreen {
  background-color: rgb(19, 20, 25);
  width: 100%;
  margin-bottom: 70px;
  color: var(--textcolor);
  padding: 12px;

  height: 100%;
  padding-bottom: 400px;
}
.appBox {
  display: none;
  background-size: cover;
}
@media screen and (min-width: 460px) {
  .firstScreen {
    width: 360px;
    margin: 12px;
    border-radius: 10px;
  }
  .appBox {
    display: inline;
    position: fixed;
    left: 390px;
    margin: 12px;
    height: 760px;
    width: 1025px;
    border-radius: 10px;
    background-color: rgb(27, 84, 197);
    top: 0;
    opacity: 0.3;
  }
}
